:root {
    --color-grey: #F1EFEC;
    --color-tan: #D4C9BE;
    --color-navy: #123458;
    --color-light-navy: #286fbb;
    --color-black: #030303;
}

html {
    
}

body {
    height: inherit;
    background-color: var(--color-navy);
}

header {
    display: flex;
    justify-content: center;
    color: var(--color-tan);
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    margin: 1.5rem;
    margin-top: 0;
    margin-bottom: 5rem;
    height: max(90vh, 50%);
}

footer {
    display: flex;
    justify-content: center;
    color: var(--color-tan);
    position: absolute;
    bottom: 1rem;
}

#gameSetupBackdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(50%);
}

#gameSetupContainer {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gameSetup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    width: 70%;
    height: auto;
}

#inputSetupContainer {
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: space-around;
    font-size: large;
}

#gameSetupForm {
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: center;
    gap: 20px;
}

#gameSetupForm #addPlayer, #modifierSetting {
    contain: content;
    margin-bottom: 1rem;
}

#displayPlayerList {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

#displayPlayerList h2 {
    margin: 0;
}

#playerSetupList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#valueContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: .5rem;
    padding: .5rem;
    height: inherit;
}

#caseContainer {
    margin: .5rem;
    padding: .5rem;
    height: inherit;
    width: auto;
    box-shadow: 0px 5px var(--color-tan);
}

#playerContainer {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .5rem;
    height: inherit;
    box-shadow: -5px 5px var(--color-tan);
}

#caseGrid {
    display: grid;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

#valueGrid {
    display: grid;
    align-self: start;
    justify-items: center;
    align-content: center;
    gap: .5rem;
    width: 100%;
}

#modifiers {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--color-tan);
    margin-top: 1.5rem;
    padding: .1rem;
    gap: .2rem;
    width: 100%;
}

.boardBG {
    background-color: var(--color-grey);
    border-radius: 10px;
    border: solid var(--color-tan);
    box-shadow: 5px 5px var(--color-tan);
}

.setupPlayer {
    background-color: var(--color-light-navy);
    border: solid .15rem var(--color-navy);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.onePenalty {
    background-color: blue;
}

.twoPenalties {
    background-color: green;
}

.threePenalties {
    background-color: yellow;
}

.fourPenalties {
    background-color: orangered;
}

.maxPenalty {
    background-color: rgb(174, 3, 3);
}

.modifier {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: purple;
    width: 100%;
}

.case {
    background-color: var(--color-light-navy);
    color: var(--color-grey);
    aspect-ratio: 1 / 1;
    width: 100%;
    border: none;
}

.player {
    background-color: #123458;
    color: var(--color-grey);
    padding: 1rem;
    margin-inline: .5rem;
    margin-bottom: .2rem;
    width: 200px;
}

@media (max-width: 500px) {
    
}