:root {
    --color-grey: #F1EFEC;
    --color-tan: #D4C9BE;
    --color-dark-tan: #857e78;
    --color-navy: #123458;
    --color-light-navy: #286fbb;
    --p-1: #16C47F;
    --p-1B: #0d794e;
    --p-2: #FFD65A;
    --p-2B: #998138;
    --p-3: #FF9D23;
    --p-3B: #9e6116;
    --p-4: #F93827;
    --p-4B: #962318;
    --p-max: rgb(44, 44, 44);
    --m: #F9E400;
    --mB: #afa100;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: inherit;
    background-color: var(--color-navy);
}

main {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    margin: 1rem;
    height: max(80vh, 50%);
    user-select: none;
}

main > * {
    display: -webkit-flex;
    display: flex;
}

footer {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    color: var(--color-tan);
    position: relative;
    bottom: 5px;
}

#gameLogoContainer {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-self: center;
    justify-content: center;
    
}

#gameLogo {
    width: clamp(15rem, 40%, 25rem);
    margin: 0;
}

#volumeControls {
    position: relative;
    margin-left: 1rem;
    opacity: 50%;
}

#volumeControls:hover {
    opacity: 100%;
}

#volumeIcon {
    color: var(--color-grey);
    size: 3rem;
}

#gameBoardContainer {
    display: none;
}

#currentPlayerContainer {
    display: none;
    justify-content: center;
}

#caseRevealContainer {
    position: fixed;
    top: 4rem;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: start;
    align-items: center;
    z-index: 3;
    width: 45rem;
    height: 40rem;
    user-select: none;
}

#caseRevealContent {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caseRevealText {
    font-size: 5.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

#caseRevealMask {
    display: -webkit-flex;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 30rem;
    aspect-ratio: 15 / 13;
    overflow: hidden;
    border-radius: 10px;
}

#caseRevealBackground {
    display: -webkit-flex;
    display: flex;
    width: 30rem;
    aspect-ratio: 2 / 1;
    background-color: var(--color-dark-tan);
    border-radius: 10px;
    box-shadow: 0 -5rem var(--color-tan)
}

#caseRevealCase {
    transform: translateY(-8rem);
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

#caseRevealCaseFront {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    width: 30rem;
    aspect-ratio: 3 / 2;
    border-radius: 10px;
    box-shadow: 0 15rem var(--shadow-color);
}

#caseRevealModifier {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 6rem;
    background-color: var(--m);
    box-shadow: 3px 3px var(--mB);
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    width: 15rem;
    margin-top: 2rem;
    opacity: 0;
}

#closeCaseRevealModalButton {
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    color: var(--color-grey);
    background-color: var(--color-navy);
    box-shadow: 0 5px var(--color-light-navy);
    font-size: 2rem;
    user-select: none;
}

#closeCaseRevealModalButton:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#dondChoiceContainer {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: start;
    align-items: center;
    z-index: 3;
    width: 30rem;
    height: 30rem;
}

#dondChoiceText {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

#dondChoiceCase {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin-bottom: 1rem;
    aspect-ratio: 1 / 1;
    font-size: 3rem;
    background-color: var(--color-light-navy);
    border-radius: 10px;
    box-shadow: 0 5px var(--color-navy);
    color: var(--color-grey);
}

#dondTake {
    --shadow-color: rgb(0, 95, 0);
    background-color: rgb(3, 139, 3);
}

#dondLeave {
    --shadow-color: rgb(97, 0, 0);
    background-color: rgb(197, 8, 8);
}

#backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(50%);
}

#gameSetup {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 10rem;
    z-index: 4;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    width: auto;
    /* width: min(40rem, 85vw); */
    height: auto;
    user-select: none;
}

#inputSetupContainer {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    margin-bottom: 2rem;
    width: 90%;
    justify-content: space-around;
    font-size: large;
}

#gameSetupForm {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: center;
    gap: 20px;
    width: 15rem;
    text-transform: capitalize;
}

#newPlayerName {
    padding: .2rem;
    padding-inline: .5rem;
    border-radius: 10px;
    border: solid 1px var(--color-navy);
}

#modifierSetting {
    contain: content;
    margin-bottom: 1rem;
    padding: .2rem;
    border: solid 1px var(--color-navy);
    border-radius: 10px;
}

#addPlayerButton {
    margin-bottom: 1rem;
    border: none;
    padding: .2rem;
    color: var(--color-grey);
    background-color: var(--color-light-navy);
    box-shadow: 3px 3px var(--color-navy);
    border-radius: 10px;
    font-size: 1rem;
}

#submitButton {
    margin-bottom: 1rem;
    border: none;
    padding: .2rem;
    color: var(--color-grey);
    background-color: var(--p-max);
    box-shadow: 3px 3px var(--color-navy);
    border-radius: 10px;
    font-size: 1rem;
}

#addPlayerButton:hover, #submitButton:hover {
    background-color: var(--color-tan);
    color: black;
    cursor: pointer;
}

#displayPlayerList {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 20rem;
    text-align: center;
    margin: .5rem;
}

#displayPlayerList h2 {
    margin: 0;
}

#valueContainer {
    flex-direction: column;
    justify-content: start;
    margin: .5rem;
    padding: 1.2rem;
    height: 100%;
    box-shadow: 5px 5px var(--color-tan);
}

#caseContainer {
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    height: 100%;
    width: auto;
    box-shadow: 0px 5px var(--color-tan);
}

#playerContainer {
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    height: 100%;
    box-shadow: -5px 5px var(--color-tan);
}

#caseGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 50px));
    position: relative;
    gap: 1rem;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#valueGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 50px));
    align-self: center;
    justify-content: center;
    align-content: center;
    gap: .2rem;
    width: 100%;
}

#modifierHeader, #valueHeader, #caseHeader, #playerHeader {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

#modifiers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 50px));;
    justify-content: center;
    align-content: center;
    align-self: start;
    background-color: var(--color-tan);
    box-shadow: 4px 4px var(--color-dark-tan);
    border-radius: 10px;
    padding-right: .2rem;
    padding-bottom: 1rem;
    gap: .2rem;
    width: 100%;
    height: auto;
}

#modifierContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    width: 90%;
}

#modifierName {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--m);
    border-radius: 10px;
    color: var(--color-navy);
    text-align: center;
    box-shadow: 3px 3px var(--mB);
}

#modifierInfo {
    font-size: 1.5rem;
    background-color: var(--p-max);
    color: var(--color-grey);
    margin-top: .5rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

#endGameContainer {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: start;
    align-items: center;
    z-index: 3;
    width: 50rem;
    height: 35rem;
    padding: 2rem;
    user-select: none;
}

#endGameHeader {
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

#endGamePlayerStats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-dark-tan);
    width: 100%;
    height: 100%;
    padding: .5rem;
    border-radius: 10px;
}

.playerStat {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.playerScore {
    --scoreText: black;
    --scoreFace: var(--color-grey);
    --scoreShadow: var(--color-navy);
    padding-inline: clamp(2rem, 20%, 4rem);
    border-radius: 10px;
    font-size: 3rem;
    color: var(--scoreText);
    background-color: var(--scoreFace);
    box-shadow: 4px 4px var(--scoreShadow);
}

.playerName {
    margin: 0;
    font-size: 2rem;
}

#endGameButtons {
    display: -webkit-flex;
    display: flex;
}

#backToGameSetup {
    margin: 1rem;
    border-style: none;
    font-size: 2rem;
    color: black;
    background-color: var(--p-1);
    border-radius: 10px;
    box-shadow: 3px 3px var(--p-1B);
    cursor: pointer;
}

#backToGameSetup:hover {
    filter: brightness(80%);
}

.boardBG {
    background-color: var(--color-grey);
    border-radius: 10px;
    border: solid var(--color-tan);
}

.playerList {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: start;
    list-style: none;
    padding: 0;
}

.dondButton {
    border: none;
    width: 15rem;
    padding: 1rem;
    background-color: var(--color-dark-tan);
    border-radius: 10px;
    margin: .5rem;
    font-size: 2rem;
    --shadow-color: var(--color-navy);
    box-shadow: 0 7px var(--shadow-color);
    color: var(--color-grey);
    cursor: pointer;
}

.modalContainer {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.setupPlayer {
    background-color: var(--color-light-navy);
    border-radius: 10px;
    width: auto;
    margin: 5px;
    color: var(--color-grey);
    padding-inline: 2rem;
    box-shadow: 5px 5px var(--color-navy);
}

.setupPlayer:hover {
    cursor: pointer;
    filter: brightness(70%);
    background-color: var(--p-4);
    box-shadow: 5px 5px var(--p-4B);
}

.selectPlayer {
    background-color: var(--color-light-navy);
    border-radius: 10px;
    width: auto;
    margin: 5px;
    color: var(--color-grey);
    padding: .5rem;
    padding-inline: 2rem;
    box-shadow: 5px 5px var(--color-navy);
}

.selectPlayer:hover {
    cursor: pointer;
    filter: brightness(70%);
    background-color: var(--color-grey);
    color: black;
}

.selectPlayerActive {
    background-color: var(--p-1);
    color: black;
    box-shadow: 5px 5px var(--p-1B);
}

.selectPlayerActive:hover {
    background-color: var(--p-1);
}

.value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    font-size: 2rem;
    --shadow-color: var(--color-light-navy);
    box-shadow: 5px 5px var(--shadow-color);
}

.valueMod {
    width: 100px;
    font-size: 4rem;
}

.onePenalty {
    color: var(--p-1B);
    background-color: var(--p-1);
    --shadow-color: var(--p-1B);
}

.twoPenalties {
    color: var(--p-2B);
    background-color: var(--p-2);
    --shadow-color: var(--p-2B);
}

.threePenalties {
    color: var(--p-3B);
    background-color: var(--p-3);
    --shadow-color: var(--p-3B);
}

.fourPenalties {
    color: var(--p-4B);
    background-color: var(--p-4);
    --shadow-color: var(--p-4B);
}

.maxPenalty {
    color: white;
    background-color: var(--p-max);
    --shadow-color: black;
    font-size: 1.7rem;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}

.modifier {
    display: -webkit-flex;
    display: flex;
    transform: scale(0);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--m);
    width: 50px;
    border-radius: 5px;
    font-size: 2rem;
    color: var(--color-navy);
    box-shadow: 5px 5px var(--mB);
}

.modifierReveal {
    color: var(--color-tan);
    background-color: var(--color-grey);
}

.case {
    cursor: pointer;
    display: inline;
    background-color: var(--color-light-navy);
    color: var(--color-grey);
    aspect-ratio: 1 / 1;
    width: 60px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 5px var(--color-navy);
}

.caseStyle {
    background-color: var(--color-light-navy);
    color: var(--color-grey);
    --shadow-color: var(--color-navy);
}

.caseSelected, .caseRevealed {
    pointer-events: none;
    animation: pressDown 1000ms ease-out 0 forwards ;
}

.case:hover {
    filter: brightness(50%);
}

/* Player Classes */

.player {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    background-color: #123458;
    color: var(--color-grey);
    margin-inline: .5rem;
    margin-bottom: .2rem;
    font-size: 1.5rem;
    width: auto;
    border-radius: 10px;
    box-shadow: -5px 5px var(--color-light-navy);
    transition: all 200ms;
}

.playerTurn {
    background-color: white;
    color: black;
    box-shadow: -5px 5px var(--color-light-navy), 0 0 10px var(--color-light-navy);
}

.playerFinished {
    filter: grayscale(100);
}

.playerName {
    padding: 1rem;
    margin: 0;
    font-size: 1.6rem;
}

.playerSelectedCase {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
    width: 60px;
    margin: .2rem;
    color: var(--color-grey);
    background-color: var(--color-light-navy);
    border-radius: 10px;
    box-shadow: -3px 3px var(--color-tan);
    aspect-ratio: 1 / 1;
}

/* Fonts */

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.bokor {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}

.text-thicc {
    font-weight: 600;
}

.highest {
    --scoreFace: var(--p-4);
    --scoreShadow: var(--p-4B);
    --scoreText: var(--color-grey);
}

.lowest {
    --scoreFace: var(--p-1);
    --scoreShadow: var(--p-1B);
    --scoreText: black;
}

.maxim {
    --scoreFace: var(--p-max);
    --scoreText: var(--color-grey);
}

/* Animations */

.popIn {
    --anim-delay: 0ms;
    animation: popIn 1000ms var(--anim-delay) forwards;
}

.modifierAppear {
    animation: modifierAppear 1000ms ease-in-out forwards;
}

@keyframes popIn {
    0% {
        transform: scale(0%);
    }
    50% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes pressDown {
    0% {
        transform: scale(100%);
    }
    100% {
        background-color: var(--color-tan);
        color: var(--color-dark-tan);
        transform: translateY(5px);
        box-shadow: 0 0;
    }
}

@keyframes pressDownPenalty {
    0% {
        transform: scale(100%);
    }
    100% {
        background-color: var(--color-tan);
        color: var(--color-dark-tan);
        transform: translate(5px, 5px);
        box-shadow: 0 0;
    }
}

@keyframes caseRevealDown {
    0% {
        transform: translateY(-8rem);
    }
    100% {
        transform: translateY(30rem);
    }
}

@keyframes caseRevealUp {
    0% {
        transform: translateY(30rem);
    }
    100% {
        transform: translateY(-8rem);
    }
}

@keyframes modifierAppear {
    0% {
        transform: scale(100);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 100%;
    }
}

/* Media Queries */


@media screen and (max-width: 1000px) {

    main {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    
    main > * {
        /* display: none; */
        visibility: hidden;
    }
    
    main > .active {
        /* display: flex; */
        visibility: visible;
        order: -1;
    }

    #gameBoardContainer {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        width: auto;
    }
    
    #gameBoardNav {
        display: -webkit-flex;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        justify-content: center;
        z-index: 1;
    }
    
    #gameBoardNav button {
        border: none;
        margin: 0;
        padding: .5rem;
        font-size: 1.2rem;
    }

    #gameBoardNav .active {
        background-color: var(--color-light-navy);
        color: var(--color-grey);
        box-shadow: 0 0 5px var(--color-navy);
        transition: all 100ms linear;
    }
    
    #currentPlayerContainer {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        justify-self: center;
        align-items: center;
    }
    
    #currentPlayerBackground {
        margin: .5rem;
        height: 7rem;
        width: min(80%, 30rem);
    }

    #currentPlayer {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #123458;
        color: var(--color-grey);
        margin: 1rem;
        font-size: 1.5rem;
        width: auto;
        border-radius: 10px;
        box-shadow: 0 5px var(--color-light-navy);
        transition: all 200ms;
    }

    #gameSetupForm, #displayPlayerList {
        align-self: center;
    }

    #inputSetupContainer {
        flex-direction: column-reverse;
    }

    #valueContainer {
        height: auto;
    }
    
    #caseContainer {
        height: auto;
    }
    
    #playerContainer {
        height: auto;
    }

    #caseRevealContainer {
        width: 90vw;
        height: auto;
        padding-bottom: 2rem;
    }
    
    #caseRevealMask {
        padding-top: 10rem;
        justify-content: center;
        width: 60vw;
        aspect-ratio: 16 / 9;
        align-items: normal;
    }
    
    #caseRevealBackground {
        display: -webkit-flex;
        display: flex;
        width: 60vw;
        aspect-ratio: 2 / 1;
        background-color: var(--color-dark-tan);
        border-radius: 10px;
        box-shadow: 0 -5rem var(--color-tan)
    }

    #caseRevealText {
        font-size: 10vw;
        padding: 0;
        margin: 0;
    }
    
    #caseRevealCase {
        transform: translateY(-7rem);
    }
    
    #caseRevealCaseFront {
        font-size: clamp(8rem, 30vw, 15rem);
        width: 60vw;
        aspect-ratio: 2 / 1;
        box-shadow: 0 15vh var(--shadow-color);
    }
    
    #caseRevealModifier {
        width: 60%;
        aspect-ratio: 1 / 1;
        margin-top: 2rem;
    }
    
    #closeCaseRevealModalButton {
        border: none;
        border-radius: 10px;
        color: var(--color-grey);
        background-color: var(--color-navy);
        box-shadow: 0 5px var(--color-light-navy);
        font-size: 2rem;
        user-select: none;
    }
    
    #closeCaseRevealModalButton:hover {
        filter: brightness(110%);
        cursor: pointer;
    }

    #dondChoiceContainer {
        width: 90%;
    }

    #endGameContainer {
        width: auto;
        height: auto;
        padding: 2rem;
        margin-top: 10rem;
    }
    
    #endGameHeader {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }
    
    #endGamePlayerStats {
        grid-template-columns: repeat(auto-fit, 10rem);
        justify-content: center;
    }
    
    .playerName {
        margin: 0;
        font-size: 2rem;
    }
    
    #endGameButtons {
        display: -webkit-flex;
        display: flex;
    }

    @keyframes caseRevealDown {
        0% {
            transform: translateY(-7rem);
        }
        100% {
            transform: translateY(30rem);
        }
    }
    
    @keyframes caseRevealUp {
        0% {
            transform: translateY(30rem);
        }
        100% {
            transform: translateY(-7rem);
        }
    }

    @keyframes playerChange {
        50% {
            transform: scale(110%);
            color: var(--m);
        }
        100% {
            transform: scale(100%);
        }
    }
}

@media (max-height: 600px) {
    #gameSetup {
        margin-top: 2rem;
    }

    #inputSetupContainer {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        height: 70vh;
        margin-bottom: 2rem;
        width: 90%;
        justify-content: space-around;
        font-size: large;
    }

    #caseRevealContainer {
        margin-top: 15rem;
    }

    #caseRevealCaseFront {
        box-shadow: 0 10rem var(--shadow-color);
    }
}